#
# Documentation is here: http://git-scm.com/docs/gitignore
#
tmp/
*.swp
/nbproject/

#
# Ignore third-party device detection code
#
/sites/all/modules/jmws/idMyGadget/idMyGadget/gadget_detectors/detect_mobile_browsers/php/detectmobilebrowser.php.txt
/sites/all/modules/jmws/idMyGadget/idMyGadget/gadget_detectors/mobile_detect/Mobile-Detect/
/sites/all/modules/jmws/idMyGadget/idMyGadget/gadget_detectors/tera_wurfl/Tera-Wurfl/wurfl-dbapi*

